# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\e\ex\basic_python\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
